{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.session.flashBag.get('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


<div class="container mt-md-4">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

    <div class="row">
        <div class="col-6">{{ form_row(registrationForm.user.firstName) }}</div>
        <div class="col-6">{{ form_row(registrationForm.user.lastName) }}</div>
    </div>
        {{ form_row(registrationForm.user.username) }}

        {{ form_row(registrationForm.user.email) }}
        {{ form_row(registrationForm.user.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.favoriteGenres,{
            label: 'Favortie Genres'
        }) }}
    {{ form_row(registrationForm.user.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('select').selectpicker();
        });
    </script>
{% endblock %}
