{% extends 'base.html.twig' %}


{% block title%}
Contact Us
{% endblock %}


{% block body%}

    <!-- section -->

    <section class="inner_banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="full">
                        <h3>Contact us</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end section -->

    <!-- section -->

    <div class="section layout_padding contact_section" style="background:#f6f6f6;">
        <div class="container">
            {% for el in app.session.flashBag.get("success") %}
                <div class="alert alert-success">{{ el }}</div>
            {% endfor %}

            {% for el in app.session.flashBag.get("error") %}
                <div class="alert alert-danger">{{ el }}</div>
            {% endfor %}
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="full float-right_img">
                        <img src="{{ asset('images/contact_us/contact-image.jpg') }}" alt="#">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="contact_form">
               {{ form_start(form) }}
                            <fieldset>
                                <div class="full field">
                                    {{ form_widget(form.name,{ 'attr': {'placeholder': 'Your Name' }}) }}
                                </div>
                                <div class="full field">
                                    {{ form_widget(form.email, {'attr' :{  'placeholder': 'Your Email' }}) }}
                                </div>
{#                                <div class="full field">
                                    <input type="phn" placeholder="Phone Number" name="Phone number" />
                                </div>#}
                                <div class="full field">
                                    {{ form_widget(form.message, {'attr' : {'placeholder' : 'Your Message' }}) }}
                                </div>

                                <div class="full field">
                                    <div class="center"><button type="submit">Send</button></div>
                                </div>
                            </fieldset>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->


{% endblock %}