{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style-movie.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div id="movie" class="well"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/axios.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/moviesgrabber.js') }}"></script>
    <script type="text/javascript">
        getMovie();
    </script>
{% endblock %}
