{% extends 'reg_owner/settings-base.html.twig' %}
{% block title %}Change Password{% endblock %}

{% block settingsTitle %}
    Change Your Password
{% endblock %}

{% block formbody %}

    {{ form_start(form) }}
<div class="form-group row">
    {{ form_label(form.oldPass, 'Old password', {'label_attr': {'class': 'col-4 col-form-label'}}) }}
    <div class="col-8">
        {{ form_widget(form.oldPass,{'attr':{'class' : 'form-control here'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.newPass.first, 'New Password', {'label_attr': {'class': 'col-4 col-form-label'}}) }}
    <div class="col-8">
        {{ form_widget(form.newPass.first,{'attr':{'class' : 'form-control here'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.newPass.second, 'Retype new Password', {'label_attr': {'class': 'col-4 col-form-label'}}) }}
    <div class="col-8">
        {{ form_widget(form.newPass.second) }}
    </div>
</div>

<div class="form-group row">
    <div class="offset-4 col-8">
        <button name="submit" type="submit" class="btn btn-primary">Change My Password</button>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {# Change the selected element in the settings navbar to the current page#}
    <script>
        $(document).ready(function () {
            changeSelectedItem()
        });
        function changeSelectedItem(){
            document.getElementById("changePasswordId").classList.add("active");
        }
    </script>
{% endblock %}