{% extends 'base.html.twig' %}

{% block title %}Movie Planning{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="{{ asset('css/planning/style-unmini.css') }}">
{% endblock %}
{% block body %}

  {% if app.user and app.user.roles[0] == "ROLE_CIN_OWNER" %}

  {#live search#}
  <style>
    #result {
  /*    position: absolute;*/
      cursor: pointer;
      overflow-y: auto;
      max-height: 250px;
      box-sizing: border-box;
      z-index: 1001;
    }
    #tmdb_plot,#tmdb_link_id,#imdb_link_id,.imdb_link,.tmdb_link{
    display:none;
    }
  </style>

    <div class="container mt-md-4" id="js-searchbox">
      <form method="POST" action="{{ url('movie_add',{"id" : id}) }}" autocomplete="off">
      <div class="row">
        <div class="col-sm-4">
          <label for="search">Add Your Movie</label>
          <div>
            <input type="text" name="search" id="search" placeholder="Search Movie..." class="form-control"/>
          </div>
          <ul class="list-group" id="result"></ul>
          <div>
            <textarea id="tmdb_plot" name="_plot"></textarea>
            <input type="text" name="_link" id="tmdb_link_id">
            <input type="text" name="_link_imdb" id="imdb_link_id">
          </div>
        </div>
        <div class="col-sm-2">
          <label for="date_choice">Choose Date</label>
          <select class="form-control" id="date_choice" name="_day">
            <option selected="selected">Select Day</option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </div>
        <div class="col-sm-2">
         <label for="starting_time" >Starting Time</label>
         <input class="form-control" type="time" value="13:45:00" id="starting_time" name="_sTime">
        </div>
        <div class="col-sm-2">
         <label for="ending_time" >Ending Time</label>
         <input class="form-control" type="time" value="13:45:00" id="ending_time" name="_eTime">
        </div>
      </div>
      <div class="mt-2">
        <div class="col-sm-2">
          <input type="submit" id="js-add" class="btn btn-primary" value="Add">
        </div>
      </div>
      </form>
    </div>
{#  live search end#}

{% endif %}

{#  Starting putting elements #}
  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        <li><span>08:00</span></li>
        <li><span>08:30</span></li>
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>17:30</span></li>
        <li><span>18:00</span></li>
        <li><span>18:30</span></li>
        <li><span>19:00</span></li>
        <li><span>19:30</span></li>
        <li><span>20:00</span></li>
        <li><span>20:30</span></li>
        <li><span>21:00</span></li>
        <li><span>21:30</span></li>
        <li><span>22:00</span></li>
        <li><span>22:30</span></li>
        <li><span>23:00</span></li>
      </ul>
    </div> <!-- .cd-schedule__timeline -->

    <div class="cd-schedule__events">
      <ul>
        {% for key, day in schedule %}
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>{{ key }}</span></div>

          <ul>
            {% for element in day %}
            <li class="cd-schedule__event">
              <a data-start="{{ element.startingTime.format("H:i") }}" data-end="{{ element.endingTime.format("H:i") }}" data-content="showplot/{{ element.id }}" data-event="event-1" href="#0">
                <em class="cd-schedule__name">{{ element.movie.name }}</em>
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  {#finished putting elements #}
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>

        <div class="cd-schedule-modal__header-bg"></div>
      </header>

      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>

      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>

    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/planning/util.js') }}"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="{{ asset('js/planning/main1.js') }}"></script>
  <script src="{{ asset('js/axios.min.js') }}"></script>
  <script src="{{ asset('js/planning/planning-movie-grabber.js') }}"></script>
  <script src="{{ asset('js/planning/mainAdd.js') }}"></script>
{% endblock %}