{% extends 'base.html.twig' %}
{#
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Perfect - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{{ asset("css/pogo-slider.min.css") }}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ asset("css/style.css") }}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset("css/responsive.css") }}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset("css/custom.css") }}" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>#}



{% block body %}

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url({{ asset('images/banner1.jpg') }});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><span span class="theme_color">Your favourite Movies </span><br>On Your
                                            favourite Cinema</h3>
                                        <h4>WhereToWatch</h4>
                                        <br>
                                        <div class="full center">
                                            <a class="contact_bt" href="courses.html">What's New ? </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url({{ asset('images/banner2.jpg') }});">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><span class="theme_color">Your Cinema</span><br><h4>your Home</h4></h3>
                                        <h4></h4>
                                        <br>
                                        {#   <div class="full center">
                                               <a class="contact_bt" href="courses.html">Try now</a>
                                           </div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- section -->
    <div class="section tabbar_menu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab_menu">
                        <ul>
                            <li><a href="#"><span class="icon"><img src="{{ asset('images/news-icon.png') }}" alt="#"/></span><span>News</span></a>
                            </li>
                            <li><a href="#"><span class="icon"><img src="{{ asset('images/circus.png') }}"
                                                                    alt="#"/></span><span>Cinemas</span></a></li>
                            <li><a href="#"><span class="icon"><img src="{{ asset('images/movie-icon.png') }}" alt="#"/></span><span>Movies</span></a>
                            </li>
                            <li><a href="#"><span class="icon"><img src="{{ asset('images/i4.png') }}"
                                                                    alt="#"/></span><span>Social</span></a></li>
                            <li><a href="#"><span class="icon"><img src="{{ asset('images/i5.png') }}"
                                                                    alt="#"/></span><span>Location</span></a></li>
                            <li><a href="#"><span class="icon"><img src="{{ asset('images/mail.png') }}"
                                                                    alt="#"/></span><span>Email</span></a></li>
                            <li><a href="#"><span class="icon"><img src="{{ asset('images/i7.png') }}"
                                                                    alt="#"/></span><span>call us</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section margin-top_50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
                            <h2><span>Welcome To</span> WhereToWatch</h2>
                        </div>
                        <div class="full">
                            <p>WhereToWatch mainly focuses on the promotion of new releases in theaters and on DVD
                                and information concerning the programming, it also offers a database covering all
                                the films that have been broadcast in Tunisia, similar to the Internet Movie Database.
                                Likewise, these data include numerous media evaluations of the films,
                                paired with a collection of critical extracts and transposed onto a common rating scale,
                                itself crowned with an average, which makes WhereToWatch an aggregator site.
                                of reviews comparable to Rotten Tomatoes in the United States.</p>
                        </div>
                        <div class="full">
                            <a class="hvr-radial-out button-theme" href="#">About more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full">
                        {% for i in 0..2 %}
                            <br>
                        {% endfor %}
                        <img src="{{ asset('images/Samsung-ONYX-Pathe-Beaugrenelle.jpg') }}" alt="#"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span>What </span>We Offer</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="{{ asset('images/movie-rating.jpg') }}" width="400"
                             height="350"
                             alt="#"/>
                        <h4>Movie Ratings</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="{{ asset('images/calender.png') }}" width="400" height="350"
                             alt="#"/>
                        <h4>Cinemas Schedules</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="full blog_img_popular">
                        <img class="img-responsive" src="{{ asset('images/cinema-building.png') }}" width="400"
                             height="350"
                             alt="#"/>
                        <h4>Cinemas Locations</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span>Popular</span> Cinemas</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section margin-top_50 silver_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full float-right_img">
                        {% for i in 0..4 %}
                            <br>
                        {% endfor %}
                        <img src="{{ asset("images/Colisee.jpg") }}" alt="#"/>
                    </div>
                </div>
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
                            <h2><span>Le Colisee</span></h2>
                        </div>
                        <div class="full">
                            <p>The Colosseum sits in the heart of Tunis, at the confluence of the three main avenues of
                                the city.
                                Immense by its proportions, this building was built in 1931 on the initiative of the
                                Italian industrialist Giuseppe Canino.
                                The sponsor of this monumental building had entrusted the work to engineer Salvatore
                                Aghilone, who would then follow the plans of two French architects: Marcel Royer and
                                Georges Piollenc.
                                With a simple structure, clearly structured, the Colosseum is characteristic of the Art
                                Deco style that had dominated in Tunis since the 1920s.
                                Obviously, we all have something of the Colosseum in us!
                                Today, the Colosseum continues to dominate the main avenue of Tunis.</p>
                        </div>
                        <div class="full">
                            <a class="hvr-radial-out button-theme" href="#">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <div class="heading_main text_align_left">
                            <h2><span>Pathe City Tunis</span></h2>
                        </div>
                        <div class="full">
                            <p>Pathé Tunis City, un multiplexe sur le site de Géant Tunis City,
                                la meilleure expérience cinéma jamais proposée en Tunisie.
                                Moderne à la pointe de la technologie avec une programmation large et tout public.</p>
                        </div>
                        <div class="full">
                            <a class="hvr-radial-out button-theme" href="#">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full">
                        <img class="img-responsive" src="{{ asset('images/pathe-cinema.jpg') }}" alt="#"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span>Movies Trending</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="demo" class="carousel slide" data-ride="carousel">

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="full blog_img_popular">
                                            <img class="img-responsive" src="{{ asset('images/artemis-fowl.jpg') }}"
                                                 alt="#" height="900"/>
                                            <h4>Artemis Fowl</h4>
                                            <p>Descended from a long line of criminals, the young and wealthy Artemis
                                                Fowl
                                                a 12 years old and already endowed with an extraordinary intelligence
                                                is about to wage a hard fight against the People of the Fairies,
                                                powerful and mysterious creatures who live in an underground world and
                                                which could well be at the origin of the disappearance of his father
                                                2 years earlier.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="full blog_img_popular">
                                            <img class="img-responsive" src="{{ asset('images/sonic.jpg') }}" alt="#"
                                                 height="900"/>
                                            <h4>Sonic the hedgehog</h4>
                                            <p>Sonic's misadventures, as he attempts to navigate the complexity of life
                                                on Earth,
                                                alongside his new best friend, Tom Wachowski, a human.
                                                Sonic and Tom join forces to try to stop the terrible Dr. Robotnik from
                                                capturing Sonic,
                                                who wants to use his immense power to rule the world.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="full blog_img_popular">
                                            <img class="img-responsive" src="{{ asset('images/star-wars.jpeg') }}"
                                                 alt="#" height="900"/>
                                            <h4>Star Wars</h4>
                                            <p>Long ago, in a distant galaxy. Civil war rages between the Galactic
                                                Empire and the Rebel Alliance.
                                                Captured by the Emperor's shock troops led by the dark and merciless
                                                Darth Vader,
                                                Princess Leia Organa conceals the plans of the Black Star, an
                                                invulnerable space station,
                                                from her droid R2-D2 with the mission of handing them over to the Jedi
                                                Obi-Wan Kenobi.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="full blog_img_popular">
                                            <img class="img-responsive" src="{{ asset('images/bad-boys.jpg') }}" alt="#"
                                                 height="900"/>
                                            <h4>Bad boys</h4>
                                            <p>Mike Lowrey is an inveterate seducer, heir to a fortune and police
                                                officer by passion,
                                                his colleague and friend Marcus Burnett is a tidy man, married and
                                                father.
                                                Their friendship does not, however, prevent them from having perfectly
                                                different methods.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding padding_bottom-0" id="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span>Contact</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section contact_section" style="background:#12385b;" id="bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="full float-right_img">
                        <img style="margin-top: 20%" src="{{ asset('images/img10.png') }}" alt="#">
                    </div>
                </div>
                <div class="layout_padding col-lg-6 col-md-6 col-sm-12">
                    <div class="contact_form">
                        <form action="contact.html">
                            <fieldset>
                                <div class="full field">
                                    <input type="text" placeholder="Your Name" name="your name"/>
                                </div>
                                <div class="full field">
                                    <input type="email" placeholder="Email Address" name="Email"/>
                                </div>
                                <div class="full field">
                                    <input type="phn" placeholder="Phone Number" name="Phone number"/>
                                </div>
                                <div class="full field">
                                    <textarea placeholder="Massage"></textarea>
                                </div>
                                <div class="full field">
                                    <div class="center">
                                        <button>Send</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->


{% endblock %}

{% block javascripts %}

{% endblock %}