{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/profile-style-regowneruser.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
    <main class="profile">
        <div class="profile-bg"></div>
        <section class="container">
            <aside class="profile-image">
                <p style="color:whitesmoke">you put here the profile picture</p>
                <a class="edit" href="#">
                    Edit profile
                </a>
            </aside>
            <section class="profile-info">
                <h1 class="first-name">{{ registereduser.user.firstName }}</h1>
                <h1 class="second-name">{{ registereduser.user.lastName}}</h1>
                <h2>ABOUT</h2>
                <p>Username : {{ registereduser.user.username }}</p>
                <p>Email : {{ registereduser.user.email }}</p>
                <h2>Favorite Movies genres : </h2>
                 <section class="movies">

                     {% for moviesgenre in registereduser.favoriteGenres %}
                         <p>{{ moviesgenre.name }}</p>
                     {% endfor %}
                 </section>
            </section>
        </section>
    </main>


{% endblock %}
