{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/profile-style-regowneruser.css') }}">
{% endblock %}

{% block body %}
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-head">
                    {% for i in 0..1 %}
                        <br/>
                    {% endfor %}
                    <h1>
                        {{ registereduser.user.username }}
                    </h1>
                    <h6>
                        {{ registereduser.user.firstName }}
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a class="btn-link" href={{ url("reguser_settings") }}> edit profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>User Id</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ registereduser.id }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ registereduser.user.lastName}} {{  registereduser.user.firstName }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ registereduser.user.email }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Favorite Movies genres</label>
                        </div>
                        <div class="col-md-6">
                            {% for moviesgenre in registereduser.favoriteGenres %}
                            <div>
                                <p>{{ moviesgenre.name }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>





                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}
