{% extends 'base.html.twig' %}
{% block title %}Cinemas{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style-cinema.css') }}">
{% endblock %}
{% block body %}
    <body>
    <div class="container wrapper" style="margin-top: 20px;">
        <div class="containercinema">
            <ul>
                {%  for cinema in cinemas %}
                <li>
                    <img src="{{ asset('uploads/cinema/'~cinema.imagePath) }}" width="200" height="200">
                    <a href="{{ url('cinema',{'id': cinema.id  })}}" >
                        <h3>{{ cinema.name }}</h3>
                        <p>{{ cinema.description }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </body>
{% endblock %}


