{% extends 'base.html.twig' %}
{% block title %}Cinemas{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/singlecinema1.css') }}">
{% endblock %}
{% block body %}
    <div class= 'containerx'>
        <div class="container_content">
            <div class="container_content_inner">
                <div class="title">
                    <h1>{{ cinema.name }}</h1>
                </div>
                <div class="par">
                    <p>{{ cinema.description }}
                    </p>
                </div>
                <div id="more-Details" style="display:none;">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Opening Time</label>
                        </div>
                        <div class="col-md-6">
                            <span>{{cinema.openingTime.format('H:i:s')}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Closing Time</label>
                        </div>
                        <div class="col-md-6">
                            <span>{{ cinema.closingTime.format('H:i:s') }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <span>{{ cinema.phoneNumber }}</span>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <button href="#" class='btns_more' id="btn""> See More </button>
                </div>
            </div>
        </div>
        <div class="container_outer_img">
            <div class="img-inner">
                <img src='{{ asset('uploads/cinema/'~cinema.imagePath) }}'  alt="cinema_image" class="container_img"/>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="comment-section">
        <br />
        <h2 align="center"><a href="#">Comment System using PHP and Ajax</a></h2>
        <br />
        <div class="container">
            <form method="POST" id="comment_form">
                <div class="form-group">
                    <input type="text" name="comment_name" id="comment_name" class="form-control" placeholder="Enter Name" />
                </div>
                <div class="form-group">
                    <textarea name="comment_content" id="comment_content" class="form-control" placeholder="Enter Comment" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" name="comment_id" id="comment_id" value="0" />
                    <input type="submit" name="submit" id="submit" class="btn btn-info" value="Submit" />
                </div>
            </form>
            <span id="comment_message"></span>
            <br />
            <div id="display_comment"></div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/comment-section/comment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/seemoreseeless.js') }}"></script>
    <script type="text/javascript">
    </script>
{% endblock %}