{% extends 'base.html.twig' %}
{% block title %}Cinemas{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/singlecinema1.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
{% endblock %}
{% block body %}
    <div class= 'containerx'>
        <div class="container_content">
            <div class="container_content_inner">
                <div class="title">
                    <h1>{{ cinema.name }}</h1>

                    <div><span>{{ ratingGlobal[0] }} / 5</span>{{ ratingGlobal[1]|rating }}</div>
                </div>
                <div class="par">
                    <p>{{ cinema.description }}
                    </p>
                </div>
                <div id="more-Details" style="display:none;">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Opening Time</label>
                        </div>
                        <div class="col-md-6">
                            <span>{{cinema.openingTime.format('H:i:s')}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Closing Time</label>
                        </div>
                        <div class="col-md-6">
                            <span>{{ cinema.closingTime.format('H:i:s') }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <span>{{ cinema.phoneNumber }}</span>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <button href="#" class='btns_more' id="btn"> See More </button>
                </div>
            </div>
        </div>
        <div class="container_outer_img">
            <div class="img-inner">
                <img src='{{ asset('uploads/cinema/'~cinema.imagePath) }}'  alt="cinema_image" class="container_img"/>
            </div>
        </div>
    </div>


     <div class="comment-section">
        <br/>
        <h2 align="center">Comment Section</h2>
        <br />
        <div class="container">
            {% if (app.user is not null  and ratingisDone == false) %}
                <div class="overlay"></div>
                <div style="text-align: center">

                        {{ form_start(Ratingform,{'attr' : { 'id' : 'comment_form'}}) }}
                            {{ form_row(Ratingform.rating) }}
                            <div class="form-group">
                                <textarea name="comment_content" id="comment_content" class="form-control" placeholder="Enter Comment" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="comment_id" id="comment_id" value="0" />
                                <input type="submit" name="submit" id="submit" class="btn btn-info" value="Submit" />
                            </div>
                        {{ form_end(Ratingform) }}
                </div>
            {% endif %}

            <span id="comment_message"></span>
            <br/>
            <div id="display_comment"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/comment-section/comment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/seemoreseeless.js') }}"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}